* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

body{
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.wavy{
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}
.wavy span{
  position: absolute;
  top: cals(12px * var(--i));
  left: cals(12px * var(--i));
  right: cals(12px * var(--i));
  bottom: cals(12px * var(--i));
  border: 10px solid #2f2f2f;
border-top: 10px solid greenyellow;
border-radius: 50%;
filter: hue-rotate(calc(90deg * var(--i)));
animation: wavy 1s alternate infinite;
animation-delay: calc(0.1s * var(--i));
}